.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #01193b;
  border-top: 1px solid #01193b;
  border-bottom: 1px solid #01193b;
  color: #e2efff;
  flex-direction: column-reverse;
}

.choice-button {
  background: linear-gradient(0deg, var(--second-color) 0%, #3d90ddbe 75%);
  letter-spacing: 2.5px;
  font-family: var(--font-family);
  color: var(--text-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  width: 150px;
  margin: 5px;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  border-radius: 10px;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  margin: 0 10px;
}

.navigation a {
  color: #e2efff;
  text-decoration: none;
  font-size: 3vh;
}

.search-bar-container {
  margin: 15px 0px;
}

.search-input {
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  background-color: #e2efff;
  color: #07588f;
  margin-right: 20px;
}

@media screen and (min-width: 600px) {
  .navigation {
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }

  .choice-button {
    margin-bottom: 0px;
  }

  .search-bar-container {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .navigation ul {
    margin: 20px 0px;
  }

  .search-input {
    margin-right: 0;
    margin-top: 20px;
  }
}
